<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>198240432285-18p3q1nbhrtc4m0a9nks7q0qpa0plljo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198240432285-18p3q1nbhrtc4m0a9nks7q0qpa0plljo</string>
	<key>API_KEY</key>
	<string>AIzaSyDHe01oikmVHNPxrceNv1aW3cUEtNxyPmw</string>
	<key>GCM_SENDER_ID</key>
	<string>198240432285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sparzel</string>
	<key>PROJECT_ID</key>
	<string>aspetica-65935</string>
	<key>STORAGE_BUCKET</key>
	<string>aspetica-65935.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:198240432285:ios:64b2c6ba1d161b29</string>
	<key>DATABASE_URL</key>
	<string>https://aspetica-65935.firebaseio.com</string>
</dict>
</plist>